<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <title>Cashme</title>
</head>

<body>
    <div class="grid-container">
        <header class="row">
            <div class="branding">
                <a href="index.html">cashme</a>
            </div>
            <nav>
                <ul class="navigation">
                    <li><a href="cart.html">cart</a></li>
                    <li><a href="signin.html">sign in</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="row center">
                <div class="card">
                    <img class="medium" src="./images/product-1.jpeg" alt="product">
                    <div class="card-body">
                        <a href="product.html">
                            <h class="upper-case">Air Jordan 1 Retro High Union Los Angeles Black Toe</h2>
                        </a>
                    </div>
                    <div class="rating">
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                    </div>
                    <div class="price">$1910</div>
                </div>

                <div class="card">
                    <img class="medium" src="./images/product-1.jpeg" alt="product">
                    <div class="card-body">
                        <a href="product.html">
                            <h class="upper-case">Air Jordan 1 Retro High Union Los Angeles Black Toe</h2>
                        </a>
                    </div>
                    <div class="rating">
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                    </div>
                    <div class="price">$1910</div>
                </div>

                <div class="card">
                    <img class="medium" src="./images/product-1.jpeg" alt="product">
                    <div class="card-body">
                        <a href="product.html">
                            <h class="upper-case">Air Jordan 1 Retro High Union Los Angeles Black Toe</h2>
                        </a>
                    </div>
                    <div class="rating">
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                    </div>
                    <div class="price">$1910</div>
                </div>

                <div class="card">
                    <img class="medium" src="./images/product-1.jpeg" alt="product">
                    <div class="card-body">
                        <a href="product.html">
                            <h class="upper-case">Air Jordan 1 Retro High Union Los Angeles Black Toe</h2>
                        </a>
                    </div>
                    <div class="rating">
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                    </div>
                    <div class="price">$1910</div>
                </div>

                <div class="card">
                    <img class="medium" src="./images/product-1.jpeg" alt="product">
                    <div class="card-body">
                        <a href="product.html">
                            <h class="upper-case">Air Jordan 1 Retro High Union Los Angeles Black Toe</h2>
                        </a>
                    </div>
                    <div class="rating">
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                    </div>
                    <div class="price">$1910</div>
                </div>

                <div class="card">
                    <img class="medium" src="./images/product-1.jpeg" alt="product">
                    <div class="card-body">
                        <a href="product.html">
                            <h class="upper-case">Air Jordan 1 Retro High Union Los Angeles Black Toe</h2>
                        </a>
                    </div>
                    <div class="rating">
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                        <span><i class="fa fa-star"></i></span>
                    </div>
                    <div class="price">$1910</div>
                </div>
            </div>
        </main>
        <footer class="row center">
            Copyright &copy; cashme 2020. All rights reserved.
        </footer>
    </div>
</body>

</html>