<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Cashme</title>
</head>

<body>
    <div class="grid-container">
        <header class="row">
            <div class="branding">
                <a href="index.html">cashme</a>
            </div>
            <nav>
                <ul class="navigation">
                    <li><a href="cart.html">cart</a></li>
                    <li><a href="signin.html">sign in</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
        </main>
        <footer class="row center">
            Copyright &copy; cashme 2020. All rights reserved.
        </footer>
    </div>
</body>

</html>