
:root{
    --main-color: #1C1C19;
    --link-hover: #EA286E;
}

/* General */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
}

/* Layout */
.grid-container {
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

header {
    grid-area: header;
    background-color: var(--main-color); 
}

main {
    grid-area: main;
    padding: 1rem;
}

footer {
    grid-area: footer;
    background-color: var(--main-color);
    color: #fff;
}
/* Commons */
a {
    text-decoration: none;
}

a:hover{
    color: var(--link-hover);
}

/* Utils */
.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.upper-case{
    text-transform: uppercase;
}
/* Images */
img {
    border-radius: .5rem;
}

img.medium {
    max-width: 40rem;
    width: 100%;
}
/* Card */
.card{
    max-width: 45rem;
    border: .5rem var(--main-color) solid;
    padding: 1rem;
    margin:1rem;
}

.card a {
    color: var(--main-color);
    font-weight: bold;
}

.card a:hover {
    color: var(--link-hover);
}

.price {
    padding-top: 1rem;
    font-size: 2rem;
}
/* Header */
header a {
    color: #fff;
    padding: 1rem;
}

.branding a{
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
}

.navigation {
    display: flex;
}

.row.center{
    justify-content: center;
}

/* Rating */
.rating span {
    color: var(--link-hover);
}