:root{
  --main-color: #1C1C19;
  --link-hover: #EA286E;
  --success: #025939;
  --failure: #BD004B;
}

/* General */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: var(--main-color); 
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: var(--main-color);
  color: #fff;
}
/* Commons */
a {
  text-decoration: none;
}

a:hover{
  color: var(--link-hover);
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
button {
  padding: 1rem;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:hover {
  cursor: pointer;
  background-color: rgb(54, 54, 54);
}

/* Utils */
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.row-compact{
  justify-content: start;
}

.upper-case{
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.container {
width: 70%;
margin: auto;
}

.success {
  color: var(--success);
}

.failure {
color: var(--failure);
}
/* Images */
img {
  border-radius: .5rem;
}

img.medium {
  width: 40rem;
}

img.large {
  width: 70rem;
}

/* Card */
.card{
  height: 45rem;
  width: 45rem;
  border: .5rem var(--main-color) solid;
  padding: 1rem;
  margin:1rem;
}

.card a {
  z-index: -1;
  color: var(--main-color);
  font-weight: bold;
}

.card a:hover {
  color: var(--link-hover);
}

.price {
  padding-top: 1rem;
  font-size: 2rem;
}

/* Header */
header a {
  color: #fff;
  padding: 1rem;
}

.branding a{
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}

.navigation {
  display: flex;
}

.row.top{
  align-items: flex-start;
}

.row.center{
  justify-content: center;
}

/* Rating */
.rating span {
  color: var(--link-hover);
}

.rating span:last-child {
  margin-left: .5rem;
  color: var(--main-color);
}

/* cols */
.col-2 {
  flex: 2 1 50rem;
}

.col-1 {
 flex: 1 1 25rem;
}